@charset "utf-8";
/* CSS Document */

html {
	width: 100%; 
	height: 100%;
	
	}

body {
	width: 100%;
	height: 100%;
	
	
}


header {
	position: absolute;
	width: 100%;
	height: 50px;
	
	z-index: 2000;
	top:0px;
		


}
	
h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 48pt;
	color: #fff;
}

#intro h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 45pt;
	color: #fff;
	width: 70%;
	text-align: center;
	margin: 0 auto;
	border: 2px solid #fff;
	padding: 2% 1%;
}




 h4 {
 	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 46pt;
	color: #989898;
 }


 h1 {
 	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 42pt;
	color: #f2f2f2;	
 }


 p {
 	font-family: 'Lato', sans-serif;
	font-weight: 200;
	font-size: 16pt;
	color: #f2f2f2;	
 }



.introhold {
	border: 1px solid #fff;
	padding: 20px 10px;
	width: 100%;
	text-align: center;
	margin: 0 auto;
}



#main {
	width: 30%;
	margin: 0 auto;

}

.mywork {
	margin-top: -100px;
	margin-bottom: 50px;
}

#intro {
	width: 100vw;
	position:relative;
	z-index: 200;
	padding-left: 0;
	display: inline-block;
	text-align: center;
	
}

#intro:hover {
	
}


.intro-content {
	height: 90vh;
	background-color: ;
}


#logo-top{
	background-color: #000;
	
	text-align: center;
	margin-top: -500px;
	position: fixed;
	z-index: 449px;
	padding-top: -155px;
	opacity:;

}



.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}




.slide{
	background-attachment: fixed;
	width:100%;
	height: 100%;
	position: relative;
	z-index: 1;	
	overflow: hidden;
	margin-bottom: 	0;
}

.slideno{
	position:relative;
	bottom:0px;
	left:0px;
	font-size:100px;
	font-weight:bold;
	color:rgba(255,255,255,0.3);
}

.button{
	display:block;
	width:50px;
	height:50px;
	position: absolute;
	bottom: 20px;
	margin-left: 48.3%;
	background-image:url(../images/arrow-click.svg);
	background-repeat: no-repeat;
	z-index: 500;
	overflow: hidden;
	
	text-align: center;

	
}



.button:hover{
	opacity: .7;
		
}


.greytriangle {
	
	
}


.comp-content {
	width: 50%;
	float: right;
	margin-top: 50px;


}


.computer-img {
	
	margin-left: -600px;

}

.comp-content h5 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 14pt;
	color: #989898;
	position: relative;
	z-index: 1000;
	text-align: justify;

}


.iphone {
	margin-right: -1200px;
}


.iphone2 {
	float: left;
	padding-right: 600px;
}


#split {
	top: 0px;
	position: relative;
	z-index: 199;
	opacity: .0;
}

#slide1{
	
	background-color: #323232;
	background-repeat: no-repeat;
}


#slide2{
	background-image: url(../images/bg-Drkblk.jpg);
	background-repeat: repeat;
}


#slide3{
	background-image: url(../images/!BG3.jpg);
	background-repeat: no-repeat;
	height: 50vh;
}


#slide4{
	background-image: url(../images/bg-blk.jpg);
	background-repeat: repeat;
	padding-top: 10px;
	height: 50vh;
}


#slide5{
	background-image: url(../images/bg-red.jpg);
	background-repeat: repeat;
}

	
.macbook {
	text-align: center;
}




/* Footer */


footer {
	height: 50px;
	position: fixed;
	background-color: #f2f2f2;
	border-top:#ccc;

}









