html {
	margin:0;
	padding:0;
	width: 100%;
}


body {
	margin:0;
	padding:0;
	width: 100%;
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
}


/*header {
	height: 45px;
	width: 100%;
	position: fixed;
	background-color: #333;
}*/


#section1 {
	width: 100vw;
	height: 70vh;
	background-color: #252525;
	
	
	

}










