<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Gollner {{page.title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">	
<link href="css/reset.css" rel="reset">
<link href="css/general.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
	<script>
	$(document).ready(function(){
  	$("button").click(function(){
   	 $("#div1").load("demo_test.txt");
  	});
	});
</script>
</head>

<body>
	

		

	
	
		<header>
			
			<div class="menu-icon"></div>


			<div class="search-icon"></div>

		</header>
		


		<section id="section1">

		<div id="div1"><h2>Let jQuery AJAX Change This Text</h2></div>
<button>Get External Content</button>



		</section>
	






		<footer>
				<div class="footer-nav">
					<div class="foot-nav-button foot-btn1">
						<div class="foot-icon1"></div>
					</div>

					<div class="foot-nav-button foot-btn2">
						<div class="foot-icon2"></div>
					</div>

					<div class="foot-nav-button foot-btn3">
						<div class="foot-icon3"></div>
					</div>

					<div class="foot-nav-button foot-btn4">
						<div class="foot-icon4"></div>
					</div>

					<div class="foot-nav-button foot-btn5">
						<div class="foot-icon5"></div>
					</div>
				</div>
		</footer>

	
	
	{{content}}
	
		
			
			<script src="js/retina.js"></script>
</body>
</html>
